/* 전체 캘린더 컨테이너 스타일 */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* 각 날짜 박스 스타일 */
  .calendar-day {
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 2px; 
    font-family: 'Gmarket Sans Light' !important;
  }
  
  /* 오늘 날짜 스타일 */
  .today-day .MuiTypography-root {
    color: blue; /* 오늘 날짜의 숫자 색상 */
    font-weight: bold; /* 오늘 날짜 숫자 두껍게 */
  }
  
  /* 선택된 날짜 스타일 */
  .selected-day {
    background-color: rgba(255, 255, 0, 0.3); 
    border-radius: 5px; 
  }
  
  
  /* 요일 헤더 박스 스타일 */
  .calendar-day-of-week {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px;
    text-transform: uppercase;
    font-family: 'Gmarket Sans Light' !important;
  }
  
  /* 메모 박스 스타일 */
  .memo-box-container {
    width: 100%;
    margin-top: 0px; /* 캘린더와 메모장 사이의 간격 */
  }
  
  .memo-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
  }
  
  .MuiTypography-caption {
    font-family: 'Gmarket Sans' !important;
  }
  
  .calendar-year-selector {
    font-family: 'Gmarket Sans Light' !important;
  }
  
  .calendar-month-selector {
    font-family: 'Gmarket Sans Light' !important;
  }