/* Calendar.css */

.cal-calendar {
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.cal-days, .cal-row {
  display: flex;
  justify-content: space-between;
}

.cal-header {
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #bcbcbc1d;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.cal-col {
  flex: 1;
  text-align: center;
  font-size: 15px;
  border: none;
}

.cal-col-yyyymm {
  padding-left: 10px;
}

.cal-start-end-wrap{
  padding-top: 3px;
  text-align: end;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.cal-col-start {
  border: none;
}

.cal-col-end {
  border: none;
  padding-right: 10px;
}

.cal-body-wrap{
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2); */
  /* height: 95vh; */
}
.cal-cell {
  /* padding: 10px; */
  border: 1px solid #ddd;
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #abababa7;    
  border-bottom: none; 
  border-left: none;              
  border-right: none; 
}

.cal-cell:hover {
  background-color: #d3d3d3;
}

.cal-cell.cal-selected {
  background-color: #f0f8ff;
}

.cal-number {
  font-size: 11px;
  font-weight: bold;
}

.cal-days .cal-col {
  color: black; /* 기본 색상은 검정색으로 설정 */
  margin-bottom: 5px;
}

/* 주말 컬럼 (토요일과 일요일) 스타일링 */
.cal-days .cal-col:first-child, /* 일요일 */
.cal-days .cal-col:last-child, /* 토요일 */
.cal-number.cal-holiday {
  color: red; /* 공휴일과 주말의 날짜 색상 빨간색으로 설정 */
}

.cal-memo {
  margin: 2px 0;
  padding: 2px 0px;
  border-radius: 4px;
  font-size: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
}

.cal-memo-diagnosis {
  background-color: rgba(0, 89, 255, 0.632);
}

.cal-memo-prescription {
  background-color: rgba(255, 213, 0, 0.879);
}

.cal-memo-pain {
  background-color: rgba(255, 0, 0, 0.5);
}

/* Modal styles */
.cal-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
}

.cal-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cal-modal-close:hover {
  color: black;
}

.cal-textarea {
  width: 100%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  resize: none;
}

.cal-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cal-button-delete {
  background-color: #b93737;
  color: white;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cal-datepicker {
  width: 110px;
  margin-left: 5px;
}

.cal-modal-content .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cal-range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-range-inputs label {
  flex: 1;
}

.cal-radio-group {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.cal-radio-group label {
  margin-right: 15px; /* 각 라벨 사이의 간격 추가 */
}
