body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
}

.home-dashboard {
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
  max-width: 430px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.home-brand h1 {
  color: #007bff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}

.home-search-section {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-input {
  width: 85%; /* 검색창 가로 길이 확대 */
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.home-previous-conditions {
  margin: 15px 0;
  width: 100%;
}

.home-previous-conditions h3,
.home-news-card-header h4 {
  font-size: 15px; /* 글씨 크기 줄이기 */
}

.home-conditions-list {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
  overflow: hidden; /* 스크롤바 숨기기 */
  max-height: 100px; /* 4개 항목 표시하기 위한 최대 높이 설정 */
}

.home-condition-item {
  flex: 0 0 auto;
  padding: 6px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 15px;
}

.home-points {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-news-card-header {
  width: 100%;
}

.home-news-card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
}

.home-news-card h4 {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 18px;
}

.home-news-card p {
  margin: 0 0 15px 0;
  color: #555;
  font-size: 16px;
}

.home-news-card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.home-news-card button:hover {
  background: #0056b3;
}

.home-word-cloud {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.home-histogram-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* margin-top: 20px; */
  border: 1px solid #ddd; /* 연한 테두리 추가 */
  border-radius: 10px; /* 테두리 둥글게 하기 */
  padding: 30px;
  background-color: #ffffff; /* 배경색 추가 */
}

.home-histogram-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40px; /* 막대 폭 */
}

.home-histogram-bar span {
  position: absolute;
  bottom: -20px; /* 레이블이 바닥에 고정되도록 위치 조정 */
  white-space: nowrap;
  font-size: 12px; /* 레이블 폰트 크기 */
}

.home-bar {
  width: 100%;
  background-color: #007bff;
  height: 0; /* 초기 높이 값 0으로 설정 */
  animation: growBar 1s ease-out forwards;
}

@keyframes growBar {
  from {
    height: 0;
  }
  to {
    height: var(--bar-height);
  }
}

.home-disease-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px; /* 최대 너비를 설정해 길이를 제한 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  position: relative;
}

.home-disease-name:hover::after {
  content: attr(title); /* title 속성을 툴팁으로 표시 */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
  color: #fff; /* 텍스트 색상 */
  padding: 5px;
  border-radius: 3px;
  top: 20px; /* 텍스트 위에 툴팁이 뜨도록 설정 */
  left: 0;
  white-space: nowrap;
  z-index: 10;
}

.home-nodata {
  border: 1px solid #ddd; 
  border-radius: 15px;
  text-align: center;
  align-items: center;
  padding: 10px 50px;
  padding-top: 25px;
  
}