/* * {
  font-family: 'GmarketSans';
  transition: opacity 1.0s ease-in-out;
} */

* {
  font-family: 'MangoDdobak-B';
  font-style: normal;
}

.title {
  left: 50%;
  margin-top: 10px; 
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.App {
  overflow: hidden;
  max-width: 430px; /* 모바일 크기로 제한 */
  width: 100%;
  background-color: rgb(255, 255, 255); /* 콘텐츠 배경색 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 상단과 하단에 고정 요소 배치 */
  min-height: 100vh; /* 전체 화면을 채우도록 설정 */
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* font-family: Arial, sans-serif; */
  height: 100%;
  background-color: #f2f2f2; /* 전체 배경을 회색으로 설정 */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2; /* 여백을 회색으로 설정 */
}

.header {
  position: fixed;
  top: 15px;
  transform: translateX(10px); /* 추가적인 세밀한 이동 */
  width: 60px;
  height: 60px;
  background-color: transparent;
  z-index: 1; 
}

@media (min-width: 430px) {
  .header {
    left: calc(50% - 200px); 
  }
}

.footer {
  position: fixed;
  bottom: 20px; /* 화면 하단에서 약간 위로 이동 */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* 화면 너비의 90% */
  max-width: 430px; /* 모바일 크기로 제한 */
  display: flex;
  justify-content: center; /* 네모 박스를 가운데 정렬 */
  z-index: 1000; /* 다른 요소보다 앞에 배치 */
}


.footer-box {
  width: 90%; /* 네모 박스가 footer의 너비를 가득 채우도록 설정 */
  height: 80px; /* 네모 박스의 높이 설정 */
  background-color: white; /* 네모 박스의 배경색 */
  border-radius: 15px; /* 모서리에 라운드 적용 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 그림자 설정 */
  display: flex;
  justify-content: space-around; /* 아이콘들을 균등하게 분배 */
  align-items: center;
}

.custom-link {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
}

.icon {
  font-size: 20px;
}

.icon-header {
  font-size: 40px;
  color: #787878;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px; 
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 설정 */
}

.user-input-group-custom {
  height: 5%;
  max-width: 80%;
  /* display: flex; */
  align-items: center;
}

.entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 설정 */
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 설정 */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 부모 요소의 전체 높이 사용 */
}

/* chatbot css */

.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.chatbot-container .blur-background {
  filter: blur(5px); /* Chatbot 화면을 흐릿하게 */
  pointer-events: none; /* 클릭 방지 */
}

.chat-footer {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.chat-current-time {
  text-align: center;
  font-size: 10px;
  color: #007bff;
  padding: 3px 0;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 1px;
}

.chat-header{
  margin: 15px 0;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 수평 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.chat-header-title {
  display: flex;
  align-items: center;
}

.chat-header-icon {
  width: 25px;
  height: 25px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/6134/6134346.png');
  background-size: cover;
  margin-right: 3px;
}

.chat-header-name {
  font-weight: bold;
}

.chat-header-row {
  display: flex;
  align-items: center;
}

.chat-header-refresh {
  position: fixed;
  top: 15px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  z-index: 1; 
}

@media (min-width: 430px) {
  .chat-header-refresh {
    left: calc(50% + 153px); 
  }
}

.chat-header-refresh-icon {
  font-size: 40px;
  color: #787878;
}


.chat-header-status {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #72777a;
}

.chat-status-indicator {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

.chat-body {
  padding-top: 10px;
  flex: 1;
  padding: 10px;
  position: relative;
  overflow-y: auto;
  background-color: white;
  overflow-x : hidden;
  overflow-y : auto;
}

.message {
  font-size: 12px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.user-message {
  justify-content: flex-end;
}

.bot-message {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 60%;
  padding: 8px;
  border-radius: 15px;
  background-color: #f0f0f0;
}

.user-message .message-bubble {
  background-color: #f2f8ff;
  color: #006be5;
  border-bottom-right-radius: 0;
}

.bot-message .message-bubble {
  background-color: #f2f4f5;
  border-bottom-left-radius: 0;
}

.bot-icon {
  width: 30px;
  height: 30px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/6134/6134346.png');
  background-size: cover;
  margin-right: 10px;
}

.chat-footer {
  display: flex;
  padding: 5px;
}

.chat-footer input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-right: 5px;
  margin-left: 20px;
}

.chat-footer button {
  padding: 15px;
  border: none;
  background-color: #303437;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #ffffff;
}

.chat-btn-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.option-message {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  margin: 3px 0;
}

.chat-btn-options button {
  background-color: #ffffff;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 20px;
  padding: 5px 8px;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  max-width: 100%; /* 버튼이 너무 길어지지 않도록 제한 */
  word-wrap: break-word; /* 필요시 단어를 줄바꿈 */
  flex-grow: 1; /* 버튼이 가능한 공간을 채우도록 */
  text-align: center;
}

.chat-footer button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; /* 버튼 안쪽 여백 추가 */
  border-radius: 50%; /* 둥근 테두리 */
  transition: background-color 0.3s ease;
}

.chat-footer button img {
  width: 36px;
  height: 36px;
}

/* mypage css */
.mypage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.mypage-img-container{
  text-align: center;
  margin-top: 50px;
}

.mypage-list-group-total {
  margin-top: 20px;
}

.mypage-list-group {
  margin-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;
  color: #5a5a59;
}

.mypage-list {
  margin-left: 70px;
}

.mypage-list-forward {
  margin-right: 60px;
}

.section-divider {
  align-items: center;
  border: 0;
  height: 1px;
  background: #5a5a59;
  margin: 0 auto; 
  width: 70%;
}

.mypage-button-container {
  margin-top: 50px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  margin-top: 20px auto;
  width: 70%;
  align-items: center;
  margin-bottom: 5px;
}

.mypage-button-group {
  color: #5a5a59;
  font-size: 18px;
  display: flex;
  padding: 10px;
  align-items: center;
  width: calc(100% - 30px); 
}

.mypage-button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.mypage-button-forward {
  display: flex;
  align-items: center;
}

.mypage-icon-spacing {
  margin-right: 0.5em;
}

/* account css */
.account-subtitle {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.account-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.account-wrap {
  margin-top: 70px;
}

.account-label-spacing {
  margin-bottom: 3px;
}

.account-input {
  border: none;
  color: #5a5a59;
}

.account-section-divider {
  align-items: center;
  border: 0;
  height: 1px;
  background: #5a5a59;
  margin: 0 auto; 
  width: 70%;
  margin-bottom: 30px;
}

.account-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; 
  font-size: 14px;
  color: #4d4d4c;
}

.account-button {
  text-align: center;
  margin-top: 20px;
}

.account-button-update {
  background-color: #368aff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 14px;
}

/* Local.css */
.local-selected-place-info {
  z-index: 10;
  position: absolute;
  top: 15%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  border-color: #292826;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.local-map_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 430px;
  height: 100vh;
}

.local-map_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.local-menu_wrap {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 80%;
  height: 60px;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local-search-form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local-search-input {
  width: 75%;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px; 
  outline: none;
}

.local-custom-overlay {
  background-color: red; /* 큰 빨간색 점 */
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.local-list-button {
  position: absolute;
  z-index: 10;
  bottom: 13%;
  right: 35%;
  background-color: #ffffff;
  color: #2c2c2c;
  border-color:#7a7a7a;
  border-style: solid;
  border-radius: 20px;
  height: 40px;
  width: 110px;
}

.local-custom-modal .modal-dialog {
  width: 380px; 
  max-height: 80vh; 
}

.local-place-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.local-place-details {
  flex-grow: 1;
}

.local-place-details p {
  margin-bottom: 3px;
}

.local-place-details-category {
  font-size: 14px;
  color: #5e5e5e;
  margin-top: 15px;
}

/* LocalList.css */
.locallist-map_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  height: 85vh;
  margin-top: 30px;
}

.locallist-header {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

#locallist-menu_wrap {
  width: 100%;
  max-width: 430px;
  padding: 5px 20px;
  overflow-y: auto;
  max-height: calc(100vh - 50px); 
  display: flex;
  flex-direction: column;
}

.locallist-option {
  display: flex;
  width: 65%;
  margin-left:auto;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}

.locallist-menu-button {
  border: none;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  background-color: #d1d1d186;
  font-size: 16px;
}

.locallist-menu-icon {
  width: 20px; 
  height: 20px; 
  margin-right: 5px; 
  vertical-align: middle; 
}

#locallist-placesList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.locallist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.locallist-item:hover {
  transform: translateY(-5px);
}

.locallist-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.locallist-info h5 {
  margin: 0;
  font-size: 1.2em;
}

.locallist-jibun {
  color: #777;
  font-size: 0.9em;
}

.locallist-tel {
  color: #2c88ff;
  font-weight: bold;
}

.locallist-distance, .rating {
  font-size: 0.9em;
  margin-top: 5px;
}

.locallist-favorite {
  cursor: pointer;
  font-size: 1.5em;
  transition: color 0.2s;
}

.locallist-favorite.active {
  color: gold;
}

.locallist-favorite:hover {
  color: #ffa500;
}

#locallist-pagination {
  text-align: center;
  margin-top: 20px;
}

#locallist-pagination a {
  margin: 0 5px;
  color: #777;
  text-decoration: none;
}

#locallist-pagination .on {
  font-weight: bold;
  color: #000;
}



/* Saved.css */
.saved-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
}

.saved-header {
  margin-top: 15px;
  display: flex;          
  align-items: center;     
  justify-content: center; 
  width: 100%;             
  padding: 10px 0;         
  position: relative;      
}

.saved-title {
  font-size: 24px;          
  font-weight: bold;       
  position: absolute;      
  left: 50%;               
  transform: translateX(-50%); 
}

.saved-filter {
  margin-left: auto;       
  display: flex;           
  align-items: center;     
  background-color: #dddddd; 
  padding: 5px 10px;      
  border-radius: 20px;     
  margin-right: 20px;
  margin-top: 10px;
}

.saved-filter-label {
  margin-left: 0px;
}

.saved-select-option {

  border: none;
  background-color: #dddddd;
}

.saved-wrap {
  height: 80vh;
}

.saved-divider {
  margin: 20px auto;
  width: 90%;
  color: #4d4d4d;
}

.saved-placesList {
  list-style: none;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.saved-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.saved-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.saved-tel {
  color: #2c88ff;
  font-weight: bold;
}

.saved-category {
  font-size: 14px;
  color: #4d4d4d;
}

.saved-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
}

.saved-button-local {
  background-color: #b3b3b3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height:30px;
  width:45px;
  font-size: 14px;
  margin-bottom: 10px;
}

.saved-button-delete {
  background-color: #e35050;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height:30px;
  width:45px;
  font-size: 14px;
}

/* FAQ.css */
.faq-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.faq-wrap {
  margin-top: 60px;
}

.faq-subtitle {
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.faq-title {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #292826;
  width: 100%;
}

.faq-question {
  padding: 12px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000ae
}

.faq-question:hover {
  background-color: #f0f0f0;
}

.faq-question .faq-icon {
  margin-left: auto; /* 왼쪽 마진을 자동으로 설정하여 아이콘을 우측으로 이동 */
  padding-left: 10px; /* 텍스트와 아이콘 사이의 간격 설정 */
}

/* 답변 부분 스타일 */
.faq-answer {
  padding: 12px;
  background-color: #29282611;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 10px;
  color: #000000ae;
}

/* 반응형 디자인 */
@media (min-width: 430px) {
  .faq-container {
    max-width: 430px;
    margin: 0 auto;
  }

  .faq-question, .faq-answer {
    font-size: 14px;
  }
}

/* About.css */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  padding: 10px; 
  box-sizing: border-box;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about-title {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: 'GmarketSansBold', sans-serif;
}

.about-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 20px auto;
}

.about-image {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.about-description {
  font-size: 13px;
  text-align: left;
  margin: 0 15px; /* 좌우 여백 */
}

.about-content {
  overflow-y: auto;
  padding-bottom: 10px;
  flex-grow: 1;
  margin: 0 15px; 
}

.about-section-title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.about-text {
  font-size: 11px;
  line-height: 1.5;
  margin: 5px 0;
}

.about-list {
  font-size: 11px;
  list-style-type: disc;
  padding-left: 20px;
}

.about-list li {
  margin-bottom: 5px;
}

.about-item {
  margin-bottom: 30px;
  border-bottom: 3px solid #ddd;
}

.about-question {
  padding: 13px;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 1px;
  transition: background-color 0.3s ease;
}

.about-question:hover {
  background-color: #e9e9e9;
}

.about-answer {
  padding: 25px;
  background-color: #f2f8ff;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 20px;
}

/* Home.css */
.home-dashboard {
  padding: 20px 0;
  background-color: #ffffff;
  min-height: 100vh;
  max-width: 430px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-other-wrap {
  width: 380px;
}

.home-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.home-brand h1 {
  color: #007bff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}

.home-search-section {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-input {
  width: 85%; /* 검색창 가로 길이 확대 */
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.home-previous-conditions {
  margin-top: 10px;
  margin-bottom: 2px;
  width: 100%;
}

.home-previous-conditions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* 아래 간격 조정 */
}

.home-previous-conditions-title {
  font-size: 18px;
}

.home-memo-icon {
  font-size: 18px; 
  margin-right: auto; 
  cursor: pointer; /* 아이콘에 커서 포인터 추가 */
}

.home-conditions-list {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
  overflow: hidden; /* 스크롤바 숨기기 */
  max-height: 100px; /* 4개 항목 표시하기 위한 최대 높이 설정 */
}

.home-condition-disease{
  flex: 0 0 auto;
  padding: 6px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 13px;
}

.home-points {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.home-news-card-header-title {
  width: 100%;
  font-size: 18px;
  /* margin-bottom: 10px; */
}

.home-news-card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
}

.home-news-card-title{
  color: #007bff;
  margin-bottom: 10px;
  font-size: 14px;
}

.home-news-card p {
  margin-bottom: 10px;
  color: #555;
  font-size: 11px;
}


.home-news-card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
}

.home-news-card button:hover {
  background: #0056b3;
}

.home-word-cloud {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.home-histogram-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px solid #ddd; /* 연한 테두리 추가 */
  border-radius: 10px; /* 테두리 둥글게 하기 */
  padding: 30px;
  background-color: #ffffff; /* 배경색 추가 */
  height: 180px;
}

.home-histogram-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40px; /* 막대 폭 */
}

.home-frequency-label {
  position: absolute;
  top: -15px; /* 막대 위에 위치하도록 설정 */
  font-size: 9px; /* 폰트 크기 */
  color: #4c4c4c; /* 텍스트 색상 */
  font-weight: bold; /* 텍스트 굵기 */
}

.home-histogram-bar span {
  position: absolute;
  bottom: -20px; /* 레이블이 바닥에 고정되도록 위치 조정 */
  white-space: nowrap;
  font-size: 12px; /* 레이블 폰트 크기 */
}

.home-bar {
  width: 100%;
  height: 0; 
  animation: growBar 1s ease-out forwards;
  background-color: #007bff; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px; 
  border-bottom-right-radius: 3px; 
}

@keyframes growBar {
  from {
    height: 0;
  }
  to {
    height: var(--bar-height);
  }
}

.home-disease-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px; 
  cursor: pointer; 
  position: relative;
}

.home-disease-name:hover::after {
  content: attr(title); 
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  top: 20px; 
  left: 0;
  white-space: nowrap;
  z-index: 10;
}

.home-nodata {
  border: 1px solid #ddd; 
  border-radius: 15px;
  text-align: center;
  align-items: center;
  padding: 10px 50px;
  padding-top: 25px;
}

.home-modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 400px;
  border-radius: 10px;
}

.home-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.home-modal-close:hover {
  color: black;
}

.home-modal-content-title {
  font-size: 12px;
  color: #5e5e5e;
}

.home-modal-department-title {
  font-size: 14px;
  color: #007bff;
}

.home-department-button {
  background-color: #e6e6e64a;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 20px;
  padding: 5px 8px;
  margin: 0 3px;
  cursor: pointer;
}

.home-news-card-wrap {
  padding: 4px 20px;
  height: 310px;
  overflow-y: auto;
  border: none;
}

.home-memo {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-memo-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
}

.home-memo-content p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.highlighted-memo {
  font-size: 20px; /* 원하는 크기로 설정 */
  font-weight: bold; /* 굵게 설정 (선택 사항) */
  color: #000; /* 원하는 색상으로 설정 (선택 사항) */
}

.home-memo-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.home-memo-close:hover {
  color: black;
}
/* Calendar.css */

.cal-calendar {
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.cal-days, .cal-row {
  display: flex;
  justify-content: space-between;
}

.cal-header {
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #bcbcbc1d;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.cal-col {
  flex: 1;
  text-align: center;
  font-size: 15px;
  border: none;
}

.cal-col-yyyymm {
  padding-left: 10px;
}

.cal-start-end-wrap{
  padding-top: 3px;
  text-align: end;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.cal-col-start {
  border: none;
}

.cal-col-end {
  border: none;
  padding-right: 10px;
}

.cal-body-wrap{
  padding: 20px;
  /* border-radius: 10px; */
  /* border-bottom: 1px solid #ccc; */
  /* box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2); */
  /* height: 95vh; */
}
.cal-cell {
  padding: 1px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #abababa7;    
  border-bottom: none; 
  border-left: none;              
  border-right: none; 
}

.cal-cell:hover {
  background-color: #d3d3d3;
}

.cal-cell.cal-selected {
  background-color: #f0f8ff;
}

.cal-number {
  font-size: 11px;
  font-weight: bold;
}

.cal-days .cal-col {
  color: black; /* 기본 색상은 검정색으로 설정 */
  margin-bottom: 5px;
}

/* 주말 컬럼 (토요일과 일요일) 스타일링 */
.cal-days .cal-col:first-child, /* 일요일 */
.cal-days .cal-col:last-child, /* 토요일 */
.cal-number.cal-holiday {
  color: red; /* 공휴일과 주말의 날짜 색상 빨간색으로 설정 */
}

.cal-memo {
  margin: 2px auto;
  padding: 2px 2px;
  border-radius: 4px;
  font-size: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  cursor: pointer;
}

.cal-memo-hospital {
  background-color: rgba(0, 89, 255, 0.632);
  color: black;
}

.cal-memo-medicine {
  background-color: rgba(255, 213, 0, 0.879);
  color: black;
}

.cal-memo-pain {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
}

/* Modal styles */
.cal-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 380px;
  border-radius: 10px;
}

.cal-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cal-modal-close:hover {
  color: black;
}

.cal-textarea {
  width: 100%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  resize: none;
}

.cal-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cal-button-delete {
  background-color: #b93737;
  color: white;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cal-datepicker {
  width: 110px;
  margin-left: 5px;
}

.cal-modal-content .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cal-range-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-range-inputs label {
  flex: 1;
}

.cal-radio-group {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.cal-radio-group label {
  margin-right: 15px; /* 각 라벨 사이의 간격 추가 */
}

.cal-outside-month {
  background-color: #f0f0f0; /* 회색 배경색 */
  color: #a9a9a9; /* 회색 텍스트 색상 */
}


/* chat description.css */
.ch-popup-container {
  display: flex;
  align-items: flex-end;
  width: 430px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* 흐릿한 배경 추가 */
  justify-content: center;
  align-items: flex-end; /* 아래로 정렬 */
  z-index: 1;
  padding-bottom: 20px;
}

.ch-popup {
  width: 95%;
  height: 95%;
  max-height: 750px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  transform: translateY(100%); /* 초기 위치를 화면 아래로 설정 */
  animation: ch-slide-up 0.5s ease-out forwards; /* 슬라이드 업 애니메이션 추가 */
  visibility: hidden; /* 초기에는 숨김 */
}

@keyframes ch-slide-up {
from {
    transform: translateY(100%); /* 시작 시 화면 아래에서 */
    opacity: 0;
}
to {
    transform: translateY(0); /* 화면 중앙으로 이동 */
    opacity: 1;
    visibility: visible; /* 애니메이션이 끝나면 보이도록 설정 */
}
}

.ch-popup-content {
position: relative;
width: 100%;
height: 100%;
}

/* ID 1 */
.ch-popup-content-id-1 .ch-bold-large-text-1 {
position: absolute;
top: 11.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1.5rem;
white-space: nowrap;
}

.ch-popup-content-id-1 .ch-bold-large-text-2 {
position: absolute;
top: 18%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1.5rem;
white-space: nowrap;
}

.ch-popup-content-id-1 .ch-small-gray-text-1 {
position: absolute;
top: 27.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.87rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-1 .ch-small-gray-text-2 {
position: absolute;
top: 31%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.87rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-1 .ch-popup-image {
position: absolute;
top: 68%; /* 이미지의 위치 조정 */
left: 53%;
transform: translate(-50%, -50%);
max-width: 88%;
height: auto;
}


/* ID 2 */
.ch-popup-content-id-2 .ch-bold-large-text-1 {
position: absolute; /* 위치 설정 */
top: 11.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1.5rem;
white-space: nowrap;
}

.ch-popup-content-id-2 .ch-small-gray-text-1 {
position: absolute;
top: 23%; /* ch-bold-large-text-1 아래에 위치 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-2 .ch-small-gray-text-2 {
position: absolute;
top: 30%; /* '질병 상담' 문장이 위치하는 지점 */
left: 50%;
transform: translateX(-50%);
font-size: 0.8rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-2 .ch-small-gray-text-3 {
position: absolute;
top: 33%; /* '기타 문의' 문장이 위치하는 지점 */
left: 50%;
transform: translateX(-50%);
font-size: 0.8rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-2 .ch-popup-image {
position: absolute;
top: 68%; /* 이미지의 위치 조정 */
left: 48%;
transform: translate(-50%, -50%);
max-width: 90%;
height: auto;
}



/* ID 3 */
.ch-popup-content-id-3 .ch-bold-large-text {
position: absolute;
top: 11.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1.5rem;
white-space: nowrap;
}

.ch-popup-content-id-3 .ch-small-gray-text-1.ch-with-margin {
position: absolute;
top: 23%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.875rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-3 .ch-small-gray-text-2 {
position: absolute;
top: 27.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.875rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-3 .ch-popup-image {
position: absolute;
top: 67.5%; /* 이미지의 위치 조정 */
left: 51%;
transform: translate(-50%, -50%);
max-width: 90%;
height: auto;
}


/* ID 4 */
.ch-popup-content-id-4 .ch-bold-large-text {
position: absolute;
top: 11.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 1.5rem;
white-space: nowrap;
}

.ch-popup-content-id-4 .ch-small-gray-text-1.ch-with-margin {
position: absolute;
top: 23%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.875rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-4 .ch-small-gray-text-2 {
position: absolute;
top: 27.5%; /* 원하는 위치로 조정 */
left: 50%;
transform: translateX(-50%);
font-size: 0.875rem;
color: #808080;
white-space: nowrap;
}

.ch-popup-content-id-4 .ch-popup-image {
position: absolute;
top: 62%; /* 이미지의 위치 조정 */
left: 50%;
transform: translate(-50%, -50%);
max-width: 90%;
height: auto;
}

.ch-popup-checkbox-wrap{
  display: flex;
  align-items: center; 
  color: #808080;
  position: absolute;
  top: 8px;
  font-size: 13px;
  vertical-align:middle;
}

.ch-popup-checkbox {
  margin-right: 10px;
}

.ch-popup-checkbox-label {
  padding-top: 5px;
}

/* 공통 요소들 */
.ch-small-gray-text.ch-clickable {
cursor: pointer; /* 커서를 포인터로 변경 */
color: gray;
text-decoration: underline;
transition: color 0.3s ease; /* 부드러운 전환을 위해 추가 */
position: absolute; /* 위치 조정 가능 */
top: 230px; /* 상단에서 50px 떨어진 위치 */
left: 225px; /* 왼쪽에서 20px 떨어진 위치 */
z-index: 100;
}

.ch-small-gray-text.ch-clickable:hover {
color: blue; /* 커서 올렸을 때 글자색 변경 */
text-decoration: underline; /* 커서 올렸을 때 밑줄 */
}

.ch-arrow-btn {
background: none;
border: none;
cursor: pointer;
padding: 10px;
font-size: 1.2rem;
user-select: none;
font-weight: lighter;
color: #cdcdcd;
position: absolute;
}

.ch-arrow-btn:focus {
outline: none;
}

.ch-arrow-btn.ch-left {
left: 30px;
bottom: 300px;
z-index: 100;
}

.ch-arrow-btn.ch-right {
right: 30px;
bottom: 300px;
}

.ch-skip-btn {
position: absolute;
top: 30px;
right: 20px;
background: none;
border: none;
cursor: pointer;
font-size: 0.8rem;
color: #9e9f9f;
user-select: none;
z-index: 10;
visibility: hidden;
animation: ch-fade-in 0.5s ease-out forwards; 
}

@keyframes ch-fade-in {
to {
    visibility: visible;
}
}

.ch-page-indicators {
position: absolute;
top: 38px;
left: 50%;
transform: translateX(-50%);
display: flex;
gap: 6px;
}

.ch-indicator {
width: 6px;
height: 6px;
border-radius: 50%;
background-color: #ccc;
transition: background-color 0.3s ease;
}

.ch-indicator.ch-active {
background-color: #007bff;
}

.ch-square-btn {
background-color: #007bff;
color: white;
border: none;
width: 100%;
height: 50px;
font-size: 1.2rem;
cursor: pointer;
margin-top: 435px; /* 버튼과 다른 컨텐츠 간격 조절 */
position: fixed; /* 화면 하단에 고정 */
bottom: 35px; /* 화면 하단에서의 간격 조절 */
left: 50%; /* 버튼을 중앙에 위치시키기 위해 */
transform: translateX(-50%); /* 버튼을 정확히 중앙으로 이동 */
white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 */
}

.ch-square-btn:focus {
outline: none;
}

/* 질병 목록 보기 팝업 */
.ch-disease-list-popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}

.ch-disease-list-content {
background-color: white;
padding: 20px;
border-radius: 20px;
max-width: 380px;
}

.ch-disease-list-content h2 {
margin-top: 0;
}

.ch-disease-list-content ul {
list-style-type: none;
padding: 0;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}

.ch-disease-list-content li {
margin-bottom: 10px;
}

.ch-disease-list-title-wrap {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px; 
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.ch-disease-list-title {
  font-size: 1.5rem;
  margin: 0; /* 기본 여백 제거 */
}

.ch-close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
